<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Modificar P&aacute;ginas</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>Seleccione la página que desea modificar:</p><br />
                        <ul>
                            <li><a href="@Url.Action("PaginaHome", "Admin")"><span>Home</span></a></li>
                            <li><a href="@Url.Action("PaginaSobreNosotros", "Admin")"><span>Sobre Nosotros</span></a></li>
                            <li><a href="@Url.Action("", "Admin")"><span>Facilidades</span></a></li>
                            <li><a href="@Url.Action("", "Admin")"><span>Como llegar</span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</article>