<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>¿C&oacute;mo llegar?</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>¡Fácil y rápido! Te mostramos el camino a seguir para llegar a nosotros, donde sea que estés y cuando quieras podrás consultar que ruta debes tomar para que llegues a Sunset Hotel sin ningún problema.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
</article>
<script>initMap();</script>