<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3-about-grids">
                <div class="col-4 col-sm-6 col-md-6 w3-about-left">
                    <div class="about-img-grids">
                        <div class="col-md-12 about-img">
                            <img class="rounded img-fluid" src="../images/4.jpg" alt=" " />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-8 col-sm-6 col-md-6 w3-about-right">
                    <div class="w3ls-heading">
                        <h2>¡Bienvenidos a Sunset Hotel!</h2>
                    </div>
                    <br />
                    @*<h5>Lorem ipsum dolor sit amet</h5>*@
                    <p>SunSet Hotel único todo incluido de la zona está situado al noroeste de Costa Rica, a solo 2 km del centro de la ciudad de Tamarindo, sobre una fantástica playa rodeada de una excepcional belleza y riqueza. La biodiversidad de este magnífico país al alcance de la mano. Cuenta con 198 habitaciones renovadas en el 2010, equipadas con todas las facilidades necesarias para disfrutar de la estancia durante un viaje de negocios, placer o vacaciones en familia. Además, cuenta con unas exuberantes vistas a la playa y a los bonitos atardeceres. Recientemente renovado, el hotel ofrece una amplia gama de servicios, exquisita gastronomía y una gran variedad de opciones de entretenimiento. Es ideal para los amantes del surf y la naturaleza, además de ser el lugar perfecto para unas vacaciones en familia o para quienes desean pasar su luna de miel en un lugar paradisíaco. Con el programa SunSet Todo Incluido es posible realizar todo tipo de actividades, en familia o con amigos, y disfrutar de los restaurantes del hotel, sin tener que preocuparse de nada. Cuenta con un fabuloso spa que ofrece infinidad de tratamientos terapéuticos y de belleza. El plan idóneo si lo que se desea es desconectar por completo y disfrutar de unas vacaciones inolvidables. SunSet Hotel es la mezcla perfecta entre relax y aventura, lujo y comodidad, selva y mar. Un lugar mágico que merece la pena descubrir.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</article>