<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Sobre Nosotros</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>SunSet Hotel único todo Incluido de la zona está situado al noroeste de Costa Rica, a solo 2 km del centro de la ciudad de Tamarindo, sobre una fantástica playa rodeada de una excepcional belleza y riqueza. La biodiversidad de este magnífico país al alcance de la mano.</p>
                        <p>El SunSet Hotel es una Institución sin ánimo de lucro creada por la familia Sun el 24 de octubre de 1990, en documento público autorizado por el Notario Don Arnoldo Star. Con una dotación inicial de 3 millones de dolares, la Fundación SunSet fue inscrita en el Registro del Protectorado de Fundaciones del Ministerio de Educación y Ciencia del Gobierno de Suiza, con el número BAL 1-2-3-15, el 14 de setiembre de 1991. La Fundación tiene su domicilio en San Galo (Suiza), en un edificio histórico catalogado como bien de interés cultural.</p><br><br>
                        <h5>Galer&iacute;a de fotos</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-9 gallery">
                   <div class="gallery-grids">
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/4.jpg"><img src="../images/4.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/5.jpg"><img src="../images/5.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/9.jpg"><img src="../images/9.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/10.jpg"><img src="../images/10.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/11.jpg"><img src="../images/11.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/12.jpg"><img src="../images/12.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/13.jpg"><img src="../images/13.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/5.jpg"><img src="../images/5.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/4.jpg"><img src="../images/4.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
</article>