@model SunsetHotelSystem.Dominio.Entidades.Entidades.TSH_Pagina

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Sobre Nosotros</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>@Model.TC_Descripcion_TSH_Pagina</p><br /><br />
                        <h5>Galer&iacute;a de fotos</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <center>
                <div class="col-md-9 gallery">
                    <div class="gallery-grids">
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto1.jpg"><img src="../images/foto1.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto2.jpg"><img src="../images/foto2.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto3.jpg"><img src="../images/foto3.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto4.jpg"><img src="../images/foto4.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto5.jpg"><img src="../images/foto5.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto6.jpg"><img src="../images/foto6.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto7.jpg"><img src="../images/foto7.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto8.jpg"><img src="../images/foto8.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-4 gallery-grid">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <a data-toggle="popover" data-image="../images/foto9.jpg"><img src="../images/foto9.jpg" alt="" /></a>
                                </figure>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</article>