<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Tarifas</h2>
            </div>
        </div>
        <br /><br /><br />

        <div class="row">
            <div class="col-4 col-sm-6 col-md-6 w3-about-left">
                <div class="about-img-grids">
                    <div class="col-md-10 about-img">
                        <img class="rounded img-fluid" src="../images/habitacion1.jpg" alt=" " />
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-6 col-md-6 w3-about-right">
                <h5>Est&aacute;ndar</h5>
                <br />
                <p>Cómodamente decoradas y amplias, la habitación tiene una sala de estar independiente, mini refri, etc.</p>
                <ul>
                    <li>Capacidad máxima: 4 personas</li>
                    <li>Precio por noche: $65</li>
                    <li>Aire acondicionado</li>
                    <li>Televisión por cable</li>
                </ul>
            </div>
        </div>
        <br /><br /><br />

        <div class="row">
            <div class="col-4 col-sm-6 col-md-6 w3-about-left">
                <div class="about-img-grids">
                    <div class="col-md-10 about-img">
                        <img class="rounded img-fluid" src="../images/habitacion2.jpg" alt=" " />
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-6 col-md-6 w3-about-right">
                <h5>Suite</h5>
                <br />
                <p>¡Perfecta para parejas! Un delicado y bello interior que hacen de esta habitación un lugar perfecto para relajarse y vivir el romance.</p>
                <ul>
                    <li>Capacidad máxima: 2 personas</li>
                    <li>Precio por noche: $105</li>
                    <li>Botella de vino incluído</li>
                    <li>Jacuzzi en la terraza</li>
                </ul>
            </div>
        </div>
    </div>
</article>