<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Reserva En L&iacute;nea</h3>
            </div>
            <div class="agileinfo-subscribe">
                <center>
                    <form action="HabitacionDisponible" method="post">
                        <span>Fecha de llegada:</span>
                        <input type="date" name="fechaLlegada" id="fechaLlegada"><br>
                        <span>Fecha de llegada:</span>
                        <input type="date" name="fechaSalida" id="fechaSalida"><br>
                        <span>Tipo de habitaci&oacute;n:</span>
                        <select id="tipoHabitacion">
                            <option value="0">Seleccione un tipo de habitacion</option>
                            <option value="1">Estandar</option>
                            <option value="2">Suite</option>
                        </select><br>
                        <input type="submit" value="Aceptar"><br><br>
                        <div class="clearfix"> </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
</article>