<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3-about-grids">
                <div class="col-4 col-sm-6 col-md-6 w3-about-left">
                    <h5>Habitaci&oacute;n Disponible</h5>
                    <div class="about-img-grids">
                        <div class="col-md-12 about-img">
                            <img class="rounded img-fluid" src="../images/hotel.jpg" alt="Sunset Hotel" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-8 col-sm-6 col-md-6 w3-about-right">
                    <p>Cómodamente decoradas y amplias, la habitación tiene una sala de estar independiente, mini refri, etc.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="news-letter">
        <div class="row">
            <span>Monto de su reservaci&oacute;n: $XYZ</span>
            <div class="agileinfo-subscribe">
                <center>
                    <form action="Reserva" method="post">
                        <span>Nombre:</span>
                        <input type="text" name="nombre" id="nombre"><br>
                        <span>Apellidos:</span>
                        <input type="text" name="apellidos" id="apellidos"><br>
                        <span>Correo electrónico:</span>
                        <input type="email" name="correo" id="correo"><br>
                        <span>Tarjeta de cr&eacute;dito:</span>
                        <input type="text" name="tarjetaCredito" id="tarjetaCredito"><br>
                        <input type="submit" value="Aceptar">
                        <input type="submit" value="Aceptar">
                        <div class="clearfix"> </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
</article>