<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Reservar en L&iacute;nea</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        @{
                            if (ViewData["Resultado"].Equals("1")) {
                                <p>¡Enhorabuena! Su reserva se ha realizado con éxito. A continuación, se le muestra la información de su reserva.</p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-info">
                                            <th>Cliente</th>
                                            <th>Correo Electrónico</th>
                                            <th>Número de Reserva</th>
                                            <th>Total a pagar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-danger">
                                            <td>@ViewData["Cliente"]</td>
                                            <td>@ViewData["Correo"]</td>
                                            <td>@ViewData["NumeroReserva"]</td>
                                            <td>$@ViewData["Precio"]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Para SunSet Hotel es un gusto tenerlos en nuestras instalaciones, los esperamos. Se le ha notificado a su correo electrónico el comprobante de su reserva.</p>
                            } else {
                                <center>
                                    <p>¡Lo sentimos, en ese rango de fechas no encontramos habitaciones disponibles!</p><br />
                                    @Html.ActionLink("Volver", "HabitacionDisponible", "Reserva", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })
                                </center>
                            }
                        }
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</article>