<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Contactenos</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>Para SunSet Hotel será un placer poder comunicarnos con usted para cualquier tipo de consulta. A continuación, se le muestra una serie de medios por el cual podrá comunicarse con nosotros.</p>
                        <br /><br />
                        <center>
                            <p>Télefono: 8888-8888 <br />Apartado Postal: 8976-SSH <br />Correo electrónico: ssinfo@sunset.com</p>
                        </center>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</article>