@model List<SunsetHotelSystem.Dominio.Entidades.TSH_SobreN_Galeria>

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Sobre Nosotros</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>@Model.First().TSH_Pagina.TC_Descripcion_TSH_Pagina</p><br /><br />
                        <h5>Galer&iacute;a de fotos</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <center>
                <div class="col-md-9 gallery">
                    <div class="gallery-grids">
                        @foreach (var item in Model) {
                            var base64ImagenGaleria = Convert.ToBase64String(@item.TI_Imagen_TSH_SobreN_Galeria);
                            string imgSrcImagenGaleria = String.Format("data:image/gif;base64,{0}", base64ImagenGaleria);
                            <div class="col-md-4 gallery-grid">
                                <div class="grid">
                                    <figure class="effect-apollo">
                                        <a data-toggle="popover" data-image="@imgSrcImagenGaleria"><img src="@imgSrcImagenGaleria" alt="" /></a>
                                    </figure>
                                </div>
                            </div>
                        }
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</article>