@model List<SunsetHotelSystem.Dominio.Entidades.TSH_Tipo_Habitacion>

@{
    var listado = new List<SelectListItem>();

    foreach (var item in Model)
    {
        SelectListItem selectItem = new SelectListItem()
        {
            Text = item.TC_Titulo_TSH_Tipo_Habitacion,
            Value = item.TN_Identificador_TSH_Tipo_Habitacion.ToString()
        };
        listado.Add(selectItem);
    }//Fin del foreach.
}

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Disponibilidad por fechas</h3>
            </div>
            <div class="agileinfo-subscribe">
                <div class="formCenter">
                    <form action="RangoFechas" method="post">
                        <span>Fecha de llegada:</span>
                        <input type="date" name="fechaLlegada" id="fechaLlegada"><br>
                        <span>Fecha de salida:</span>
                        <input type="date" name="fechaSalida" id="fechaSalida"><br>
                        <span>Tipo de habitaci&oacute;n:</span>
                        @Html.DropDownList("tipoHabitacion", listado, htmlAttributes: new { @style = "news-letter" })<br />
                        <input type="submit" value="Aceptar"><br><br>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>