<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Iniciar sesi&oacute;n</h3>
            </div>
            <div class="agileinfo-subscribe">
                <div class="formCenter">
                    <form action="AutenticarUsuario" method="post">
                        <span>Correo:</span>
                        <input type="email" name="usuario" id="usuario"><br>
                        <span>Contrase&ntilde;a:</span>
                        <input type="password" name="contrasena" id="contrasena"><br>
                        <input type="submit" value="Aceptar"><br><br>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>